@import url('https://fonts.googleapis.com/css2?family=Saira:wght@600&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.proj_title{ 
    padding-top: 30px;
    padding-left: 15px;
    font-size: 24px;
    font-style: bold;
    font-family: 'Saira', sans-serif;
}
.proj_section{
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: rgba(194, 224, 214, 0.322);
}
.head{
    font-family: 'Saira', sans-serif;
    font-size: 20px;
}